.slider
  #slide1
    %img{ :src => "/images/slider/slide_intl_2012.jpg" }
  #slide2
    %img{ :src => "/images/slider/slide_p2.jpg" }
  #slide3
    %img{ :src => "/images/slider/slide_l4d2.jpg" }
  #slide4
    %img{ :src => "/images/slider/slide_tf2.jpg" }
  #slide5
    %img{ :src => "/images/slider/slide_ep2.jpg" }
  #slide6
    %img{ :src => "/images/slider/slide_css.jpg" }

%script{ :src => "/js/slider.js" }
