<!DOCTYPE html>
%html
  %head
    %title
      Valve
    %link{ :rel => "stylesheet", :href => "/styles.css", :type => "text/css" }
  %body
    .header
      .wrapper
        .brand
          %a{ :href => "/" }
            %img{ :src => "/images/header_logo.png", :alt => "Valve" }

        %ul.nav
          %li
            %a{ :href => "/" }
              Games
          %li
            %a{ :href => "/" }
              Steam&reg;
          %li
            %a{ :href => "/" }
              Company
          %li
            %a{ :href => "/" }
              Jobs
          %li
            %a{ :href => "/" }
              News
          %li
            %a{ :href => "/" }
              Contact

    .content
      = yield
