<!DOCTYPE html>
%html
  %head
    %title
      Valve
    %link{ :rel => "stylesheet", :href => "/styles.css", :type => "text/css" }
  %body
    .header
      .wrapper
        .brand
          %a{ :href => "/" }
            %img{ :src => "/images/header_logo.png", :alt => "Valve" }

        %ul.nav
          %li#games
            %a{ :href => "/" }
              Games
            .popout
              %a{ :href => "http://www.valvesoftware.com/games/" } About Valve Games
              .divider
              %a{ :href => "http://www.valvesoftware.com/games/dota2.html" } Dota 2
              %a{ :href => "http://www.valvesoftware.com/games/portal2.html" } Portal 2
              %a{ :href => "http://www.valvesoftware.com/games/l4d2.html" } Left 4 Dead 2
              %a{ :href => "http://www.valvesoftware.com/games/l4d.html" } Left 4 Dead
              %a{ :href => "http://www.valvesoftware.com/games/ep2.html" } Half-Life 2: Episode Two
              %a{ :href => "http://www.valvesoftware.com/games/portal.html" } Portal
              %a{ :href => "http://www.valvesoftware.com/games/tf2.html" } Team Fortress 2
              %a{ :href => "http://www.valvesoftware.com/games/ep1.html" } Half-Life 2: Episode One
              %a{ :href => "http://www.valvesoftware.com/games/dods.html" } Day of Defeat: Source
              %a{ :href => "http://www.valvesoftware.com/games/css.html" } Counter-Strike: Source
              %a{ :href => "http://www.valvesoftware.com/games/hl2.html" } Half-Life 2
              %a{ :href => "http://www.valvesoftware.com/games/backcatalog.html" } Valve Back Catalog
              .divider
              %a{ :href => "http://source.valvesoftware.com/" } 
                Source Engine 
                %i.external
          %li
            %a{ :href => "/" }
              Steam&reg;
              .popout
                %a{ :href => "http://store.steampowered.com/about/", :target => "_blank" }
                  About Steam
                  %i.external
                  
                %a{ :href => "http://store.steampowered.com/", :target => "_blank" }
                  Visit Steam
                  %i.external
                %a{ :href => "http://www.steampowered.com/steamworks/", :target => "_blank" }
                  Steamworks
                  %i.external
                %a{ :href => "https://cafe.steampowered.com/", :target => "_blank" }
                  Cyber Café Program
                  %i.external

          %li
            %a{ :href => "/" }
              Company
          %li
            %a{ :href => "/" }
              Jobs
          %li
            %a{ :href => "/" }
              News
          %li
            %a{ :href => "/" }
              Contact

    .content.wrapper
      = yield

%script{ :src => "/js/nav.js" }
